*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* generali */

header{
  height: 30px;
  background-color: black;
}

main{
  position: relative;
  height: calc(100vh - 100px);
  background-color: black;
  overflow: auto;
}

.conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px 60px;
}

/* image */

.img-conteiner{
  position: relative;
  padding: 5px;
  height: 300px;
  width: 300px;
}

img{
  width: 100%;
}

.microphone{
  position: absolute;
  bottom: 0;
  left: 0;
  color:white;
  background-color: rgba(91,98,104,255);
  padding: 15px 25px;
}

/*footer*/

footer{
  height: 100px;
  background-color: rgba(34,34,34,255);
}




