*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* generali */

header{
  height: 50px;
  background-color: black;
}

main{
  position: relative;
  height: calc(100vh - 150px);
  background-color: black;
  overflow: auto;
}

.conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px 60px;
}

/*header */

.head-dfn{
  width: 99%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.speaker, .maximize{
  color: white;
  padding: 5px 10px;
  background-color: rgba(91,98,104,255);
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
}

/* image */

.img-conteiner{
  position: relative;
  height: 130px;
  width: 230px;
  margin: 10px;
}

img{
  width: 100%;
  height: 100%;
}

.microphone{
  position: absolute;
  bottom: 0;
  left: 0;
  color:white;
  background-color: rgba(91,98,104,0.6);
  padding: 5px 10px;
}

/*footer*/

footer{
  height: 150px;
  background-color: rgba(34,34,34,255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/*mic logo video */

.mic-video{
  height: 100%;
}

.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.icon i{
  font-size: 1.7rem;
}

.icon.arrow{
  font-size: 1rem;
}



